:root {
    --vp-c-brand-1: #6f8fe6;
    --vp-c-brand-2: #5577d2;
    --vp-c-brand-3: #4469d2;
    --vp-c-brand-soft: rgba(225, 171, 8, 0.14);
    --vp-nav-bg-color: rgba(255, 255, 255, 0.8);
    --vp-home-hero-image-background-image: radial-gradient(rgba(68, 106, 210, 0.604) 50%, rgba(74, 188, 250, 0.5));
    --vp-home-hero-image-filter: blur(44px);
}

.dark {
    --vp-nav-bg-color: rgba(27, 27, 31, 0.8);
}

img {
    max-height: 400px;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery img {
    max-height: unset;
    height: none;
}

.gallery > .item {
    padding: 8px;
}

.gallery > .item.grid-4 {
    width: 100%;
}

.collapsible-header {
    font-size: 18px;
    font-weight: 600;
}
.collapsible-header-sub {
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }

    .gallery > .item.grid-4 {
        width: 50%;
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }

    .gallery > .item.grid-4 {
        width: 25%;
    }

    .VPNavBar:not(.home.top) {
        backdrop-filter: blur(12px);
    }
}